@font-face 
  font-family: 'icomoon'
  src:  url('../fonts/icomoon.eot?92gfju')
  src:  url('../fonts/icomoon.eot?92gfju#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?92gfju') format('truetype'),
    url('../fonts/icomoon.woff?92gfju') format('woff'),
    url('../fonts/icomoon.svg?92gfju#icomoon') format('svg')
  font-weight: normal
  font-style: normal
  font-display: block


[class^="icon-"], [class*=" icon-"] 
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important
  speak: never
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-home2:before 
  content: "\e901"

.icon-folder-plus:before 
  content: "\e931"

.icon-folder-minus:before 
  content: "\e932"

.icon-folder-download:before 
  content: "\e933"

.icon-folder-upload:before 
  content: "\e934"

.icon-spinner3:before 
  content: "\e97c"

.icon-search:before 
  content: "\e986"

.icon-briefcase:before
  content: "\e9ae"

.icon-star-half:before 
  content: "\e9d8"

.icon-star-full:before 
  content: "\e9d9"

.icon-heart:before 
  content: "\e9da"

.icon-man:before 
  content: "\e9dc"

.icon-woman:before 
  content: "\e9dd"

.icon-happy:before 
  content: "\e9df"

.icon-sad:before 
  content: "\e9e5"

.icon-plus:before
  content: "\ea0a"

.icon-minus:before
  content: "\ea0b"

.icon-cancel-circle:before
  content: "\ea0d"

.icon-volume-medium:before 
  content: "\ea27"

.icon-volume-mute2:before 
  content: "\ea2a"

.icon-volume-increase:before 
  content: "\ea2b"

.icon-volume-decrease:before 
  content: "\ea2c"

.icon-arrow-right2:before 
  content: "\ea3c"

.icon-arrow-left2:before 
  content: "\ea40"

.icon-circle-right:before 
  content: "\ea42"

.icon-circle-left:before 
  content: "\ea44"

.icon-rss:before 
  content: "\ea9b"

.icon-cross:before
  content: "\ea0f"

.icon-checkbox-checked:before
  content: "\ea52"

.icon-shopping_cart:before
  content: "\e903"

